*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(255, 255, 255);
}

#itemCarrousel-2{
    background-color: rgb(255, 255, 255);
}

#itemCarrousel-3{
    background-color: rgb(255, 255, 255);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: rgb(255, 0, 0);
}

.itemCarrouselArrows > a > i{
    color: rgb(255, 0, 0);
}


 /* Estilos para el botón creativo */
 .creative-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ff4e00, #ff9500);
    border: none;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.creative-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}



 /* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para el botón de abrir la ventana emergente */
#openModalButton {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
